.spacing {
  margin-top: 80px;
}

.centered {
  margin: 0 20%;
}

body {
  padding: 20px;
}

.right {
  float: right;
}

.day-theme {
  color: black;
  background-color: white;
}

.night-theme {
  color: white;
  background-color: grey;
}

#themeOptions {
  color: black;
}

.colorBlack {
  color: black;
  margin: 0 auto;
}
